<div class="black-back">
  <div class="container">
    <div class="row">
      <h1>Welcome to TeacherBoard!</h1>
    </div>
    <div class="row">
      <a routerLink="" class="badge badge-success">Home</a>
      <a routerLink="notes" class="badge badge-success">Notes</a>
      <a routerLink="urls" class="badge badge-success">URL</a>
      <a routerLink="code" class="badge badge-success">Code</a> 
    </div>
  

    <div class="row mt-3">

        <router-outlet></router-outlet>
    </div>
  </div>
</div>